{% extends "main_page.html" %}
{% block title %}User entries{% endblock %}
{% block content %}
    {% for entry in entries %}
        <div class="row" style="padding: 1%">
            {% for entry in entries %}
                <div class="col-md-2" style="border: 3px black solid; margin: 1%;">
                    <p>Date - {{ entry.date }}</p>
                    <p>Distance - {{ entry.distance }} km</p>
                    <p>Duration - {{ entry.duration }} minutes</p>
                    <a href="{% url 'entries:delete_entry' entry.id %}">Delete entry</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}